__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.tsv
*.parquet
*.ipynb
.venv/
venv/
vedras_env/
.env
.DS_Store
notebooks/
modeling/
iVedras/webscrapping/sample_*
node_modules/
iVedras_queixas/
iVedras_urgencia/
output/
output_urgencia/
converted_model/
ivedras_topic_api/
ivedras_urgency_api/
