__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
ENV/
.git/
.gitignore
*.csv
*.log
*.md
output/
output_urgencia/
vedras_env/
auxiliar/
notebooks/
iVedras_urgencia/
iVedras_queixas/
.DS_Store
streamlit_output.log
*.pkl
.env 