# Core NLP and Transformers
sentencepiece
transformers
torch

# spaCy and Portuguese model
spacy>=3.7.2
thinc>=8.2.2

pt_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.7.0/pt_core_news_lg-3.7.0-py3-none-any.whl

# Geocoding
geopy
opencage # For OpenCageGeocode

# Streamlit and visualization
streamlit
streamlit-folium
folium
plotly
pydeck  # For map visualizations

# Data handling
pandas
numpy>=1.23.0

# ML and NLP
scikit-learn
fuzzywuzzy
python-Levenshtein  # For fuzzywuzzy speedup
rapidfuzz # Used for better fuzzy matching
joblib  # For model serialization

# MongoDB
pymongo

# Env
python-dotenv

# Other
# tqdm  # If you use progress bars

blis==0.7.11